.NavBar {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.usr-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}